:root {
  --secondary: rgb(109, 109, 109);
  --bg-color: #fff;
  /* --primary: #062553; */
  --primary: rgb(60, 60, 60);
  --sass: rgba(231, 200, 133, 0.9);
  /* --bright: #ece13c; */
  --bright: #0aee96;
  --btn: #e95858;
  --btnhover: #eb4040;
  --shadow: #dfdfdf;
  --footer: rgb(25, 25, 25);
  color: rgb(92, 92, 92);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Roboto Slab", serif;
}

html {
  font-size: 62.5%;
}

p,
span {
  font-size: 1.7rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3rem;
}

/* section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
} */
